.chores {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
}

li{
    font-size: x-large;
    font-style: italic;
}
h3 {
    text-decoration: underline;
}